@model IEnumerable<CRUDMVC.Models.CustomerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2 align="center">View Customer</h2>

<p>
    <a href="@Url.Action("AddEditCustomer", "Customer")" id="Add" class="btn btn-default">Create New &nbsp;<i class="glyphicon glyphicon-plus"></i></a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                Sl. No
            </th>
            <th>
                Name
            </th>
            <th>
                Mobile
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{ int s = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{ s++;}
                    @s
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerMobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                </td>
                <td>                                                                              
                    
                    <a href="@Url.Action("AddEditCustomer", "Customer", new { id = item.CustomerId})" class="btn btn-warning"><i class="fa fa-pencil"></i>  Edit</a>
                    <a href="@Url.Action("DeleteCustomer", "Customer", new { id=item.CustomerId})" class="btn btn-danger"><i class="fa fa-pencil"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
